<div class="main">
  <div class="calculator">
    <div class="display">
      <div class="input">
        &nbsp;{{ inputDisplay }}<span class="caret">|</span>
      </div>
      <div class="output">{{ output?.displayValue }}&nbsp;</div>
    </div>
    <div class="keypad">
      <ng-container *ngFor="let key of keys">
        <button
          class="key"
          (click)="addInput(key)"
          [ngStyle]="{ 'grid-column': key.col, 'grid-row': key.row }"
        >
          {{ key.value.displayValue }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
